# --- SEGURIDAD Y PRIVACIDAD ---
config/.env

# --- SISTEMA (Linux / Xubuntu) ---
.thumbnails/
.Trash-*/
*~
.directory
.fuse_hidden*
.nfs*

# --- DESARROLLO (Python) ---
__pycache__/
*.py[cod]
.venv/
build/
dist/
*.egg-info/

# --- DATOS Y LOGS ---
data/history.json
logs/*.log

# --- MODELOS DE IA (Archivos Pesados) ---
# Ignoramos todo el contenido de la carpeta models excepto el marcador .gitkeep
models/*
!models/.gitkeep

# --- OTROS (Arduino / Firmware) ---
# Solo si decides meter el firmware aquí en el futuro
*.uf2
*.elf
*.bin
pico_firmware/
arduino_build/
